*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    min-width: max-content;
}

#title{
    display: inline-block;
}

#book{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#studentID, #teacherName{
    font-size: 120%;
    background-color: #C1D3FE;
    margin-top: 5%;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 260%;
    text-align: center;
}

#logout{
    height: 50px;
    width: 60px;
    margin-top: 20%;
}

#Navbox{
    background-color: #DEE2E6;
}

#Nav{
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background: #023E8A;
    height: 80%;
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color:#8D99AE;
}

header{
    height: 7%;
}
#mainNav{
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color:#023E8A;
    padding: 0px 20px 0px 20px;
}

#mainNav img{
    height: 30px;
    text-align: center;
}

#mainNav #subSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainNav #subSection p{
    margin:0px 5px 0px 5px;
}

#mainNav #power img{
    height: 15px;
    
}

#mainNav #power p{
    margin: 0px;
}

#mainNav #power {
    text-align: center;
    background-color: #EB5F5F;
    padding: 2px;
    height: 35px;
    color: black;
}

#mainNav #power:hover {
    text-align: center;
    background-color:#f54747;
    padding: 2px;
    height: 35px;
    color: black;
}

#teacherName{
    color: black;
    background-color: #C1D3FE;
    height: 39px;
    line-height: 39px;
    padding-left: 2em;
    padding-right: 2em;
}

#content{
    height: 93%;
    display: flex;
    justify-content: space-around;
}

#sideNav{
    float: left;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    background-color: #DEE2E6;
    width: 20vw;
    height: 93%;
    max-width: 200px;
    position:absolute;
    left: 0px;
}

#sideNav h3{
    background-color: #023E8A;
    height: 50px;
    margin-top: 2%;
    text-align: center;
}

div.maintitle p{
    font-size: xx-large;
    margin-top: 0px;
    text-align: center;
    color: white;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-right: 0px;
}

#sideNav button{
    background-color: #E2EAFC;
    border-color: #C8C8C8;
    padding: 0.7em;
    margin-bottom: 0.7em;
    border: 0px;
}

#sideNav button:hover,button:active{
    background-color: #C1D3FE;
}

#middleSection{
    display: flex;
    flex-direction: column;
    background-color: #C8C8C8;
    height: 85%;
    margin-top: 3%;
    width: 55%;
}

#middleSection h3{
    background-color:#023E8A ;
    margin-top: 0px;
    text-align: center;
    color: white;
}

#tableContainer{
    display: flex;
    justify-content: space-around;
    background-color: #E2EAFC;
    margin-left: 5%;
    margin-right: 5%;
    height: 25%;
    overflow: scroll;
    overflow-x: hidden;
}

#titles{
    display: flex;
    justify-content: space-around;
    background-color:#C1D3FE ;
    margin-left: 5%;
    margin-right: 5%;
}

#titles h4{
    margin: 0px;
}

#leftTable{
    height: 100%;
}

#middleSection img{
    margin-top: 1em;
    height: 45%;
    margin-left: 5%;
    margin-right: 5%;
}

div.NotifBorder{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    background-color: #E2EAFC;
    
}

a.DashLink{
    color: white;
}

a.DashLink:hover{
    color: blue;
}

div.Divider1{
    margin-top: 2%;
    margin-left: 15%;
    width: 50%;
    float: left;
}

div.Divider2{
    margin-top: 2%;
    width: 30%;
    float: right;
}

h3.Dashtitle{
    margin: 0px;
}

div.NotifContainer{
    height: 40%;
    overflow: scroll;
    overflow-x: hidden;
}

a:link { text-decoration: none; }


div.NotifBorder1{
    width: 25%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    background-color: #E2EAFC;
    float: left;
    margin-left: 10%;
}
div.NotifBorder2{
    width: 25%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    background-color: #E2EAFC;
    float: right;
    margin-right: 10%;
}
div.chart{
    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
*/
    float: left;
    margin: center;

}
a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
